@{ViewData["Title"] = "Home Page";}

<div class="text-center">
    <h1 class="display-4">FilmDB</h1>
    <p>Explore the film database.</p>    
    <p>Experimental/testing version; optimisations incoming.</p>
</div>
