@using FilmDB.Models.Database
@model IEnumerable<Film>
@{
	ViewData["Title"] = "Films";
}
<div class="container">
	<div class="d-flex justify-content-between align-items-center">
		<h1>Film Search and Filter</h1>
		<form id="filmSearchForm" class="d-flex">
			<input type="text" id="filmSearchQuery" class="form-control me-2" placeholder="Search by title" required />
			<button type="submit" class="btn btn-primary">Search</button>
		</form>
	</div>
	@if (ViewBag.GenreList != null)
	{
		<div class="col-12 mx-auto">
			@foreach (Genre genre in ViewBag.GenreList)
			{
				<a data-id="@genre.GenreId" class="btn genre-button btn-secondary w-8 m-x">
					@genre.Name
				</a>
			}
		</div>
		<div style="min-height: 22px;">
			<div id="yearSlider" class="my-2 col-11"></div>
		</div>
	}
	<div id="filmTableContainer" class="contentTable mt-3">
		@await Html.PartialAsync("_FilmTable", (IEnumerable<Film>)Model)
	</div>
</div>
<script src="/_framework/aspnetcore-browser-refresh.js"></script>
<script src="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.js"></script>
<script src="~/js/filmSearch.js"></script>