@{
	ViewData["Title"] = "Jobs in Film";
}
<div class="container">
	<div class="col-12 mx-auto">
		@foreach (var job in Model)
		{
			<a asp-controller="Person" asp-action="JobCount" asp-route-id="@job.JobId" class="btn btn-secondary w-16 m-x">
				@job.Title
			</a>
		}
	</div>
</div>