@{
	ViewData["Title"] = "Roles in Film";
}
<div class="sub-container">
	<h1>Role Explorer</h1>
	<div class="col-12 mx-auto">
		@foreach (var job in Model)
		{
			<a data-id="@job.JobId" class="btn job-button btn-secondary w-16 m-x">
				@job.Title
			</a>
		}
	</div>
	<div id="jobCountContainer" class="sub-container mt-3"></div>
</div>

<script src="~/js/jobFilter.js"></script>