<div class="container">
	<div>
		<h1>People</h1>
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
			<th>Name</th>
			<th>Birth Year</th>
			<th>Death Year</th>
			</thead>
			<tbody>
				@foreach (var person in Model)
				{
					<tr>
						<td>
							<a asp-controller="Person" asp-action="PersonFilmography" asp-route-id="@person.PersonId">
								@person.Name
							</a>
						</td>
						<td>@person.BirthYear</td>
						<td>@person.DeathYear</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>