@model FilmDB.Models.GenreFilmYearCount

<div id="container">
    <h2>@Model.Name films per year</h2>
    <div>
        <canvas id="genreChart"
                data-labels='@Html.Raw(Json.Serialize(Model.FilmYears.Select(f => f.Year).ToList()))'
                data-data='@Html.Raw(Json.Serialize(Model.FilmYears.Select(f => f.FilmCount).ToList()))'
                data-genre="@Model.Name"
                width="500" height="190">
        </canvas>
    </div>
</div>