@model FilmDB.Models.GenreFilmYearCount
<div id="sub-container">
	@* <h2>@Model.Name films per year</h2> *@
	<div>
		<canvas id="genreChart" width="400" height="200"></canvas>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/genreInfo.js"></script>