@using FilmDB.Models.Database
@{
	ViewData["Title"] = "Film Genres";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider@15.7.1/dist/nouislider.min.css" />
<div class="sub-container">
	<div class="d-flex justify-content-between align-items-center">
		<h1>Genre Explorer</h1>
		<div>
			<a id="compareButton" class="btn btn-mode-select btn-primary w-10 m-x" data-mode="1">
				Compare
			</a>
			<a id="combineButton" class="btn btn-mode-select btn-secondary w-10 m-x" data-mode="2">
				Combine
			</a>
		</div>
	</div>
	<div class="col-12 mx-auto">
		@foreach (Genre genre in Model)
		{
			<a data-id="@genre.GenreId" class="btn genre-button btn-secondary w-8 m-x">
				@genre.Name
			</a>
		}
	</div>
	<div id="yearSlider" class="my-2"></div>
	<div id="genreGraphContainer" class="mt-1"></div>
</div>

<!-- jQuery for AJAX -->
<script src="/_framework/aspnetcore-browser-refresh.js"></script>
<script src="https://cdn.jsdelivr.net/npm/nouislider@15.7.1/dist/nouislider.min.js"></script>
<!-- genre graph creation -->
<script src="~/js/genreGraph.js"></script>
